<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.Rothmann.Roth-AIR</string>
    <key>CFBundleName</key>
    <string>Roth-AIR</string>
    <key>CFBundleDisplayName</key>
    <string>Roth-AIR</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.1</string>
    <key>CFBundleVersion</key>
    <string>1.1.1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Rothmann: Roth-AIR</string>
        <key>description</key>
        <string>A mixing tool for adding airy, crispy presence</string>
        <key>factoryFunction</key>
        <string>AIRAUFactory</string>
        <key>manufacturer</key>
        <string>Roth</string>
        <key>type</key>
        <string>aufx</string>
        <key>subtype</key>
        <string>J6vc</string>
        <key>version</key>
        <integer>65793</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
